# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/

# Logs and databases
*.log
*.sqlite

# IDEs
.idea/
.vscode/
*.iml
*.iws

# Sensitive info
.env
ios/Flutter/Generated.xcconfig
ios/Runner/Generated.xcconfig

# OS
.DS_Store
